.ad__card__container {
  position: relative;
  background-repeat: round;
  border-radius: 10px;
  width: 100%;
  padding: 24px 24px 64px 24px;
  overflow: hidden;
  div {
    width: 284px;
    h2 {
      color: var(--Primary-0, #fff);
      font-family: 'Plus Jakarta Sans';
      font-size: 32px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.96px;
      text-transform: capitalize;
      margin-bottom: 16px;
    }
    p {
      color: var(--Primary-0, #fff);
      font-family: 'Plus Jakarta Sans';
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.32px;
      margin-bottom: 20px;
    }
    a {
      button {
        color: var(--Primary-0, #fff);
        font-family: 'Plus Jakarta Sans';
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.32px;
        border-radius: 4px;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
          opacity: 0.8;
        }
      }
    }
  }
  img {
    width: 37%;
    height: 100%;
    right: 90px;
    top: 100px;
    position: absolute;
    transform: rotate(30deg);
    flex-shrink: 0;
  }
}

@keyframes showAd1 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  45% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  95% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showAd2 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  45% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  95% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1400px) {
  .ad__card__container {
    width: 100%;
    img{
      width: 16em;
      height: 113%;
      right: 9%;
      top: 16%;
    }
  }
  .ad__card__container:nth-child(1) {
    animation: showAd1 20s infinite;
    opacity: 0;
  }
  .ad__card__container:nth-child(2) {
    animation: showAd2 20s infinite;
    position: absolute;
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .ad__card__container {
    padding: 24px 24px 54px 24px;
    div{
      a{
        button{
          font-size: 16px;
        }
      }
    }
    img{
      width: 11em;
      height: 90%;
      right: 12%;
      top: 34%;
    }
  }
}
@media screen and (max-width: 640px) {
  .ad__card__container {
    padding: 24px 24px 54px 24px;
    div{
      width: 240px;
      h2{
        font-size: 20px;
      }
      p{
        font-size: 14px;
      }
    }
    img{
      width: 11em;
      height: 90%;
      right: 12%;
      top: 34%;
    }
  }
}

@media screen and (max-width: 550px) {
  .ad__card__container {
    div{
      width: 180px;
      h2{
        font-size: 16px;
      }
      p{
        font-size: 12px;
      }
      a{
        button{
          font-size: 12px;
          padding: 9px 12px;
        }
      }
    }
    img{
      width: 10em;
      height: 100%;
      right: 16%;
      top: 49%;
    }
  }
}
@media screen and (max-width: 500px) {
  .ad__card__container {
    img{
      width: 8em;
      height: 90%;
      right: 11%;
      top: 53%;
    }
  }
}
