.ad__card__container {
  position: relative;
  background-repeat: round;
  border-radius: 10px;
  width: 640px;
  padding: 24px 24px 64px 24px;
  overflow: hidden;
  div {
    width: 284px;
    h2 {
      color: var(--Primary-0, #fff);
      font-family: 'Plus Jakarta Sans';
      font-size: 32px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.96px;
      text-transform: capitalize;
      margin-bottom: 16px;
    }
    p {
      color: var(--Primary-0, #fff);
      font-family: 'Plus Jakarta Sans';
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.32px;
      margin-bottom: 20px;
    }
    a {
      button {
        color: var(--Primary-0, #fff);
        font-family: 'Plus Jakarta Sans';
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.32px;
        border-radius: 4px;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.05);
            opacity: 0.8;
          }
      }
    }
  }
  img {
    width: 250px;
    height: 410px;
    right: 90px;
    top: 64px;
    position: absolute;
    transform: rotate(30deg);
    flex-shrink: 0;
  }
}
