.notification__btn {
  border-radius: 90px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    transform: scale(1.05);
    opacity: 0.8;
  }

  span{
    width: 11px;
    height: 11px;
    border-radius: 50px;
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: #ED3F3F;
  }
}
