.search__container {
  border-radius: 70px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  max-width: 309px;
  img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }
  input {
    border: none;
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: var(--Icons, #596780);
      text-align: justify;
      font-family: 'Plus Jakarta Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
      letter-spacing: -0.28px;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 10px 20px;
    input {
      max-width: 100px;
    }
  }
  @media screen and (max-width: 660px) {
    display: none;
  }
}
